
    Very composite brick wants to say {{message}} :)
    =============================================================================
    .... {{#moreComposite}}
    .... {{/moreComposite}}
    =============================================================================
    .... {{#composite}}
    .... {{/composite}}
    =============================================================================
    .... {{#simple}}{{/simple}}
    =============================================================================
    .... {{#listOfBricks}}
    .... {{/listOfBricks}}
    =============================================================================
    .... {{#listOfCustomItems}}
    .... {{/listOfCustomItems}}
    =============================================================================
