
    More composite brick wants to say {{message}} :)
    --------------------------------------------------------------------
    composite1: 
    {{#composite1}}
    {{/composite1}}
    --------------------------------------------------------------------
    composite2: {{#composite2}}
    ----------- {{/composite2}}
    --------------------------------------------------------------------
    simple: {{#simple}}{{/simple}}
